footer {
    background-color: #000000;
    text-align: center;
    font-family: "Roboto Flex", sans-serif;
    font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-sm));
    color: #f4ffa3;
    padding: 1rem;
}