<header class="main-header">
    <div class="container">
      <div class="window-bar">
        <div class="window-button"></div>
        <div class="window-button"></div>
        <div class="window-button"></div>
      </div>
      <div class="header-title">
        <h1>&lt; Breno Barbosa &gt;</h1>
        <h2>
          <span [innerHTML]="typedText"></span>
          <span class="cursor">|</span>
        </h2>
      </div>
      <div class="skills-icons">
        <i class="devicon-rust-original"></i>
        <i class="devicon-java-plain"></i>
        <i class="devicon-spring-original"></i>
        <i class="devicon-angular-plain"></i>
        <i class="devicon-postgresql-plain"></i>
        <i class="devicon-docker-plain"></i>
      </div>
    </div>
    <div class="scroll-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
        <path d="M20 4 L20 28 M12 20 L20 32 L28 20" 
              fill="none" 
              stroke="#9bff31" 
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round">
            <animate attributeName="stroke" 
                      values="#5b9f07;#9bff31;#5b9f07" 
                      dur="3s" 
                      repeatCount="indefinite"/>
            <animate attributeName="stroke-width" 
                      values="2;3;2" 
                      dur="3s" 
                      repeatCount="indefinite"/>
        </path>
      </svg>
    </div>
</header>