<header class="main-header">
    <div class="container">
      <div class="window-bar">
        <div class="window-button"></div>
        <div class="window-button"></div>
        <div class="window-button"></div>
      </div>
      <div class="header-title">
        <h1>&lt; Breno Barbosa &gt;</h1>
        <h2>
          <span [innerHTML]="typedText"></span>
          <span class="cursor">|</span>
        </h2>
      </div>
      <div class="skills-icons">
        <i class="devicon-rust-original"></i>
        <i class="devicon-java-plain"></i>
        <i class="devicon-spring-original"></i>
        <i class="devicon-angular-plain"></i>
        <i class="devicon-postgresql-plain"></i>
        <i class="devicon-docker-plain"></i>
      </div>
    </div>
</header>